
header{
	width:1200px;
	height:100px;
	border: 1px solid #00f;
	margin:auto;
}
header h1{
	text-align: center;
	font-size: 72px;
	color:blue;
	margin:0;
}
.t2 {
	width:1200px;
	margin:auto;
	border: 1px solid #00DDFF;
	height:100px;
}
.clearfix::after{
	content:"";
	display:block;
	clear: both;
	font-size:0;	
}
 a{
	width:100px;
	height: 30px;
	display: inline-block;
	background-color: #ff0;
	font-size:24px;
	margin-right:100px;
	padding: 10px;
	text-decoration: none;
}

 a:hover{
	background-color: #00f;
}
section{
	width:1200px;
	margin: auto;
	border: 1px solid #00DDFF;
	position:relative;
}
section main p{
	width:760px;
	margin:20px;
	font-size:16px;
	border: 1px solid #00DDFF;
}
#t1{
	margin:15px;
	position:absolute;
	top:0px;
	right:30px;
	border: 1px solid #00DDFF;
}
footer{
	border: 1px solid #00DDFF;
	width:1200px;
	margin:auto;
}

footer h4{
	text-align:center;
	margin:5px;
}
