.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
header, main .banner{
	box-sizing: border-box;
	font-family: "微软雅黑";
	color:#fff;
}
.container{
	width:1200px;
	margin:auto;
	padding: 20px 0;
}
header{
	position: fixed;
	width:100%;
	padding: 20px 0px;
	background-color: rgba(0,0,0,.02);
	transition: all .5s;
}
header.on{
	padding: 3px 0;
	background-color: rgba(0,0,0,.8);
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
.container .logo span{
	font-family:'Dancing Script', cursive;
	font-size: 3em;
	position: relative;
	top:-10px;
	color: #fff;
} 
.topMenu{
	position: absolute;
	right:15%;
	top:15%;
}
.topMenu li{
	float:left;
	margin:10px 30px;
	
}
.topMenu li a{
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    color: #fff;
}
.topMenu li:first-child a{
    color: #339BEB;
}
.banner{
	background: url(../img/banner.jpg) no-repeat center;
	background-size: cover;
	width: 100%;
	height: 800px;
}
.banner .container{
	width:800px;
	height:210px;
	position: absolute;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	margin: auto;
	text-shadow: 1px 1px 1px rgba(0,0,0,.8);
	}
.banner .container h1{
	text-align: center;
}
.banner .container h1 strong{
	color: #339BEB;
}
.banner .container p{
	line-height: 1.7em;
}
.banner .container p mark{
	background-color: rgba(255,255,255,.7);
	text-shadow: none;
	padding: 2px 3px;
}
.about .container h2{
	text-align: center;
	margin-top:50px;
	font-family: "微软雅黑";
} 
.about .container h2+p{
	text-align: center;
	margin-bottom: 80px;
}
.about .container .img img{
	width:48%;
	float: left;
}
.about .container .note{
	width:48%;
	float: right;
	line-height: 2;
}
.about .container .note p{
	margin-top:0;
}
.about .container .note ol{
	list-style-type: none;
	padding: 0;
}
