.imgList *{
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: table;
	clear:both;
}
.imgList{
	max-width:1200px;
	margin:auto;
}
.imgList figure{
	float:left;
	width:30%;
	overflow: hidden;
	margin:calc(10%/6);
	border: 10px solid #fff;
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,.5);
	position:relative;
}
.imgList figure:hover{
	cursor:pointer;
}
.imgList figure figcaption{
	position:absolute;
	bottom:0;
	top:0;
	left:0;
	right:0;
	color:#fff;
	border: 1px solid #fff;
	width:200px;
	height:70px;
	margin:auto;
	background-color: rgba(0,0,0,.5);
	border-bottom: none;
	z-index:3;
}
.imgList figure figcaption::before{
	content: "";
	display: table;
	height:1px;
	width:50%;
	position: absolute;
	bottom:0;
	background-color: #fff;
	transition:all .5s;
}
.imgList figure figcaption::after{
	content: "";
	display: table;
	height:1px;
	width:50%;
	position: absolute;
	bottom:0;
	right:-1px;
	background-color: #fff;
	transition:all .5s;
}
.imgList figure:hover figcaption::before,.imgList figure:hover figcaption::after{
	width:20%;
}
.imgList figure figcaption p,.imgList figure figcaption h3{
	text-align: center;
	
}
.imgList figure figcaption h3{
	font-size:24px;
	margin:18px;
}
.imgList figure figcaption p{
	margin-top:-5px;
	opacity: 0;
	transition:all .5s;
}
.imgList figure:hover figcaption p{
	opacity: 1;
}
.imgList figure img{
	width:100%;
	transform:scale(1) rotate(0);
	transition: all .5s; 
}
.imgList figure:hover img{
	transform:scale(1.2) rotate(6deg);
	
}
